.hero {
  position: relative;
  min-height: 60vh;
  text-align: center;
  margin-bottom: 2rem;
}

/* .bgImage {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  height: inherit;
}

.bgImage::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: inherit;
  background: #00000075;
  backdrop-filter: blur(6px);
} */

.container {
  position: relative;
  color: #000;
  padding-top: 20vh;
}

.title span {
  color: var(--clr-primary-400);
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  max-width: 40em;
  margin: 0 auto; 
  margin-top: .75em;
  color: var(--clr-neutral-900);
}

.hero .container > a {
  display: inline-block;
  margin: 0 auto;
  margin-top: 2rem;
}

@media (max-width: 500px) {
  .hero {
    min-height: unset;
    text-align: left;
  }

  .container {
    padding-top: unset;
  }
}