.product {
  display: flex;
  flex-direction: column;
}

.link:hover .imgWrapper {
  transform: translateY(-5px);
}

.link:hover .title {
  color: var(--clr-secondary-400);
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: 300px;
  transition: .2s transform ease;
}

.header {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-top: .5em;
  margin-bottom: .75em;
}

.title {
  font-size: 1.375rem;
  font-weight: 500;
  transition: .2s color ease;
}

.title span {
  margin-right: .5em;
}

.title i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.tags {
  display: flex;
  gap: .5rem;
}

.spicy {
  color: #ff192d;
  font-size: 1rem;
  margin-right: .25rem;
}

.vegetarian {
  color: #00d440;
  font-size: 1rem;
  margin-right: .25rem;
}

.description {
  color: var(--clr-neutral-800);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 1.25rem;
  margin-top: auto;
}