.itemsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: .5rem;
  overflow: scroll;
}

.itemsList::-webkit-scrollbar {
  width: 4px;
  padding: 0 .5px;
}

.itemsList::-webkit-scrollbar-thumb {
  background-color: var(--clr-neutral-300);
  border-radius: 20px;
}

.itemsList::-webkit-scrollbar-corner {
  visibility: hidden;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  padding: .5rem;
}

.item img {
  width: auto;
  height: 70px;
  border-radius: 6px;
}

.itemInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .25rem;
  font-weight: 500;
  margin-left: 1.5rem;
}

.itemInfo h3 {
  font-weight: inherit;
  padding-right: 5px;
}

.flex {
  height: 32px;
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

.itemPrice {
  font-size: 1.15rem;
  margin: auto 0;
}

.deleteItemBtn {
  position: absolute;
  top: .5rem;
  right: .5rem;
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--clr-neutral-700);
  cursor: pointer;
  transition: .2s color ease;
}

.deleteItemBtn:hover {
  color: #e21b2b;
}