.header {
  background: #fff;
  width: 100%;
  padding: 1rem 0;
  z-index: 9999;
}

.header img {
  width: 48px;
}

.container {
  display: flex;
  align-items: center;
}

.openNav {
  display: none;
  font-size: 1.5rem;
  margin-right: .75em;
  padding: unset;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.875rem;
  font-weight: 500;
}

.logoHeader {
  font-size: 1rem;
  color: #222;
}

.logoHeader h2 {
  font-size: 1.75em;
  text-transform: uppercase;
}

.btnWrapper {
  margin-left: auto;
}

.delivery {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 3rem;
}

.delivery p span {
  color: var(--clr-secondary-400);
}

.delivery a {
  font-size: .875rem;
  font-weight: 600;
  font-style: italic;
}

.phone {
  display: flex;
  gap: .5rem;
}

.iconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background: #000;
  border-radius: 50%;
  font-size: .55rem;
  color: var(--clr-secondary-400);
}

.cart {
  display: none;
  padding: unset;
  margin-left: auto;
}

@media (max-width: 900px) {
  .header {
    position: sticky;
    top: 0;
    box-shadow: 0 0 15px rgba(0 0 0 / .1);
  }

  .cart {
    display: inline-block;
  }

  .btnWrapper {
    margin-left: 1.5rem;
  }

  .openNav {
    display: inline-block;
  }
}

@media (max-width: 720px) {
  .header img {
    width: 38px;
  }

  .logoHeader {
    font-size: .8rem;
    color: #222;
  }

  .logoHeader img {
    width: 24px;
  }

  .logoHeader span {
    display: none;
  }

  .delivery {
    display: none;
  }
}

@media (max-width: 500px) {
  .btnWrapper {
    display: none;
  }
}