:root {
  --clr-primary-400: #E61410;
  --clr-secondary-400: #FFC403;

  --ff-pf-square: 'PF Square Sans Pro', sans-serif;
}

html,
body {
  font-family: var(--ff-pf-square);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
}