.appHeader {
  width: 100%;
  background: var(--clr-primary-400);
  color: #fff;
  padding: 1rem 0;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  grid-template-areas:
    'title title logo delivery controls';
}

.headerTitle {
  display: flex;
  justify-content: center;
  grid-area: title;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-style: italic;
  color: var(--clr-secondary-400);
  transform: rotate(354deg);
}

.logo {
  display: flex;
  justify-content: center;
  height: 100px;
  grid-area: logo;
}

.logo img {
  width: auto;
  height: inherit;
}

.deliveryTitle {
  font-size: .875rem;
  font-weight: 600;
  grid-area: delivery;
}

.deliveryTitle span {
  display: inline-block;
  color: var(--clr-secondary-400);
  margin-bottom: .5em;
}

.deliveryTitle a {
  font-style: italic;
  color: var(--clr-secondary-400);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  grid-area: controls;
}